<nav>
  <ul>
    <li><a routerLink="primeiro-componente" routerLinkActive="active">Primeiro componente</a></li>
    <li><a routerLink="segundo-componente" routerLinkActive="active">Segundo componente</a></li>
    <li><a routerLink="redirect-primeiro" routerLinkActive="active">Redirect primeiro componente</a></li>
    <li><a routerLink="ibge" routerLinkActive="active">Consulta IBGE</a></li>
    <li><a routerLink="ciclo" routerLinkActive="active">Ciclo</a></li>

  </ul>
</nav>
<router-outlet></router-outlet>
